.Registerbody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background: url('./assets/background5.jpg') no-repeat;
    background-size: 1920px 1080px;
    background-position: center;
}

/* @media (max-width: 768px) {
    .Registerbody {
        background-size: auto;
        padding: 10px; 
    }
}

@media (max-width: 480px) {
    .Registerbody {
        background-size: cover;
        background-position: center; 
        padding: 20px; 
    }
} */
 
@media (max-width: 768px) {
    .LoginBody {
        padding: 10px;
    }

    .wrapper {
        padding: 20px 30px;
    }

    .wrapper h1 {
        font-size: 28px;
    }

    .input-box input {
        padding: 15px 40px 15px 15px;
    }

    .input-box .icon {
        font-size: 14px;
    }

    .button {
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        padding: 15px 20px;
    }

    .wrapper h1 {
        font-size: 24px;
    }

    .input-box {
        height: 45px;
        margin: 20px 0;
    }

    .input-box input {
        padding: 10px 35px 10px 10px;
        font-size: 14px;
    }

    .input-box .icon {
        font-size: 12px;
    }

    .button {
        height: 35px;
        font-size: 12px;
    }

    .wrapper .register-link {
        font-size: 12px;
    }
}