.input-main{
    background-color:white;
  height: 30px;
  color: black;

 
  
  }
  .inputdiv{

   padding: 15px;
  }
.maincontainer{
  
  margin-top: 20px;
 

}
  .mainbody{
    min-height: 100vh; 
    min-width: 690px; 
    display: flex;
    justify-content: center;
    position: relative;
  background-image: url("https://wallpapers.com/images/hd/dark-wood-background-1894-x-1046-16fgvjtnr7oms120.jpg"); 
  background-size: 100% 100%;

    background-repeat: no-repeat;  
    background-position: center; 
    
    
   
  
  }
  .li{

    color: black;
    background-color: burlywood;
    margin: 5px;
    padding: 8px;
    width: 450px;
    position: relative;
    overflow: auto;
    max-height: 150px;
right: 10px;
   
  }
  
  .updateicon {
position: absolute;
    width: 30px;
    height: 25px;
    top: 10px; 
    right: 20px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
 
  }
 

   
    
    .deleteicon {
        position: absolute; 
        width: 30px; 
        height: 25px; 
        top: 10px; 
        right: 50px;
        background: none; 
        border: none; 
        padding: 0; 
        cursor: pointer; 
      }

      .logoutbutton{
        position: absolute;
        top: 10px;
        right: 19px;
        border-radius: 50px;
        background-color: red;
    color: white;
      }

      @media  (min-width:320px){
        .mainbody{
          min-height: 250vh;
  
          background-image: url("https://wallpapers.com/images/hd/dark-wood-background-1894-x-1046-16fgvjtnr7oms120.jpg"); 
          background-size: 100% 100%;
       
          background-position: center; 
        }
       
      }
  
      
       